<!DOCTYPE html>
<html>

{{ head }}

<body>
    <header>
        {{ header }}
    </header>
    <main>
        <h1>Welcome!</h1>
        <p>
            I am Matthew Planchard, a software engineer currently in Burlington, VT.
            This is a blog I maintain mostly for the purpose of playing around
            with whatever technologies I'm interested in at the present, but
            also to occasionaly post whatever I'm inclined to write.
        </p>
        <p>
            If you particularly enjoy anything here and want to drop me
            a line, you can find my contact information on the
            <a href="/about.html">about</a> page. If you're curious about
            the technical details behind this website, that stuff is there,
            too.
        </p>
        {{ content }}
    </main>
    <footer>
        {{ footer-common }}
    </footer>
</body>

</html>
