/* Styles */

body {
    display: grid;
    grid-template-columns: minmax(200px, 100%);
    grid-gap: 5px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: oldlace;
}

header {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    display: inline-grid;
    grid-template-columns: minmax(5%, 10%) minmax(90%, 95%);
    border-bottom: 1px solid black;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: black;
}

.header-title {
    font-size: larger;
}

.header-links {
    text-align: right;
}

.header-links ol {
    list-style-type: none;
    margin: 0;
}

.header-link {
    display: inline-block;
    padding-left: 5px;
}

main {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.anchor-link {
    display: inline-block;
}
.anchor-link a {
    opacity: 0.0;
}
.anchor-link a:hover {
    opacity: 1.0;
}

.post-metadata {
    text-align: right;
}

.tag-header a {
    text-decoration: none;
}

.tag-header a:visited {
    color: black;
}

footer {
    width: 100%;
    font-family: 'Open Sans', monospace;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.footer-nav {
    border-bottom: 1px solid black;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5px;
}

.footer-nav-right {
    text-align: right;
}

.footer-common {
    grid-column: 1 / 3;
    font-size: smaller;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr)
}

.footer-common details {
    grid-column: 2 / 7;
}

.footer-common nav {
    grid-column: 1 / 2;
}

.footer-common nav ol {
    list-style-type: none;
    margin: 0;
    vertical-align: top;
    padding-left: 0;
}

.footer-common-link {
    display: inline-block;
}

.footer-license summary {
    text-align: right;
}

a:link {
    color: black;
}

a:visited {
    color: #666666;
}

code {
    padding-left: .1em;
    padding-right: .1em;
    font-family: 'Fira Mono', monospace;
    color: black;
    background: #c2d3cd;
    overflow: auto;
}

address {
    font-style: normal;
}

cite {
    font-style: normal;
}

pre code {
    border: 1px solid black;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

aside {
    font-style: italic;
}


/* Old browser compatibility */

/* header, section, footer, aside, nav, main, article, figure {
    display: block;
} */


/* Fonts */

/* open-sans-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/open-sans-v16-latin_latin-ext_greek-ext_greek-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

/* fira-mono-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.eot');
    /* IE9 Compat Modes */
    src: local('Fira Mono Regular'), local('FiraMono-Regular'),
        url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/fira-mono-v7-latin_latin-ext_greek-ext_greek-regular.svg#FiraMono') format('svg');
    /* Legacy iOS */
}

/* roboto-slab-regular - latin_latin-ext_greek-ext_greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.woff') format('woff'),
        /* Modern Browsers */
        url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/roboto-slab-v8-latin_latin-ext_greek-ext_greek-regular.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}
