<div class="footer-common">
    <nav class="footer-links">
        <ol>
            <li class="footer-common-link">
                <a href="/atom.xml">
                    RSS
                </a>
            </li>
        </ol>
    </nav>
    <details class="footer-license">
        <summary>
            &copy; Matthew Planchard, {{ year }}
            <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                (CC BY-SA 4.0)
            </a>
        </summary>
        <p>
            &copy; {{ year }} by Matthew Planchard &mdash; unless otherwise noted,
            all content is made available under the
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                Creative Commons Attribution-ShareAlike 4.0 International License.
            </a>
        </p>
    </details>
</div>
