<head>
    <meta charset="utf-8">
    <meta name="description" content="Matthew Planchard's personal blog">
    <meta name="keywords"
        content="programming, rust, html, python, javascript, html, austin, texas, blog, philosophy, software, development">
    <meta name="author" content="Matthew Planchard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="feed" type="application/atom+xml" title="RSS Feed" href="/atom.xml">
    <link rel="stylesheet" href="/css/main.css">


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

   <link rel="stylesheet" href="/js/vendor/highlight/styles/gruvbox-dark.css">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ summary }}">

    <script src="/js/vendor/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
